wrangler.jsonc
worker-configuration.d.ts

# Generated source
apps/api/src/generated/

# Local only
local/

# Visual Studio Code
.vscode/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# Dependency directories
node_modules/
jspm_packages/

# TypeScript cache
*.tsbuildinfo

# Optional caches
.npm
.eslintcache
.stylelintcache

# dotenv
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Build outputs
dist
.next
out
.open-next
.nuxt
.docusaurus

# Misc caches
.cache
.parcel-cache
.fusebox/
.serverless/
.dynamodb/
.tern-port
.vscode-test

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Wrangler
.dev.vars
.wrangler/
tsconfig.tsbuildinfo
